---
import Form from "@/components/base/form.vue"
import "@/styles/global.css"
import EventsList from "@/components/vue/event/Events.vue";
import BaseLayout from "@/layout/BaseLayout.astro";
---

<BaseLayout title="Main Page">
	<div class="mt-10">
		<Form client:load />
		<div class="max-w-6xl mx-auto py-16 px-6">
			<a href="/events/" class="mb-2 underline cursor-pointer text-blue-500">Go To Events</a>
			<EventsList client:load />
		</div>
	</div>
</BaseLayout>